PORT=3000
LINE_CHANNEL_SECRET=你的Channel Secret
LINE_CHANNEL_ACCESS_TOKEN=你的Channel Access Token
GOOGLE_SHEET_ID=你的V8 Google試算表ID
GOOGLE_CREDENTIALS_PATH=./credentials.json

# Render 有使用 GOOGLE_CREDENTIALS_JSON 的話，以 Render Environment 為準
# V8.1 新增：球隊群組 ID
# 先把 Bot 加進群組，在群組輸入「群組ID」，Bot 會回傳 groupId
LINE_GROUP_ID=


# V8.2 每日群組報表
DAILY_REPORT_ENABLED=true
DAILY_REPORT_TIME=22:00
